
// public color
$first-color:#333333;
$second-color:#666666;
$third-color:#999999;

// highlight
$highlight-color:#1890ff;

// public border
$first-border:1px solid #f9f8ff;

// public css

//radius-btn

.btn {
	display: block;
    width: 9.2rem;
    margin: 0.67rem auto 0;
    text-align: center;
    height: 1.17rem;
    line-height: 1.17rem;
    color: #fff;
    font-size: .426667rem;
    background-color: $highlight-color;
    border-radius: .133333rem;
    padding:0;
}
.copyright{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: .32rem;
    color: $third-color;
    bottom: .533333rem;
}
