body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  background: #efeff4;
}

html,
body {
  height: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

button:focus,
input:focus,
textarea:focus {
  outline: 0 none;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.select-popup {
  width: 100%;
}

a {
  text-decoration:none;
  color: #333;
}

input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
  font-size: 16px;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-size: 16px;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 16px;
}

input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 16px;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset;}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);//ios点击出现阴影清除
  -webkit-tap-highlight-color: transparent;
}

.mint-popup {
  width: 100%;
  z-index: 10000005 !important;
}

.fun-list-item {
  .mint-switch-input:checked + .mint-switch-core {
    border-color: #4DD865;
    background-color: #4DD865;
  }
}

.permissions {
  text-align: center;
  color: #999;
  font-size: 16px;
  padding-top: 4rem;
}

.no-discount-list {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding-top: 4rem;
}

.page-loadmore-wrapper {
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

.mint-loadmore-top, .mint-loadmore-text {
    font-size: 14px;
    text-align: center;
    color: #999;
}

.nomore-data {
  text-align: center;
  margin-top: .53rem;
  margin-bottom: .53rem;
  font-size: .37rem;
  line-height: .53rem;
  color: #999999;
}
.icon-xiangxiajiantou {
    color: #BAC0D2;
  }

.page-loadmore-height {
  height: 100%;
}

.mint-indicator-wrapper {
  z-index: 999;
}
.mint-msgbox-wrapper {
  z-index: 20000000 !important;
}
.v-modal {
  z-index: 10000000 !important;
}
[v-cloak] {
    display: none !important;
}

.shoppicker .picker-toolbar {
  display: flex;
  height: 1.17rem;
  line-height: 1.17rem;
  background:rgba(251,251,252,1);
  padding: 0 0.4rem;
 
}
.shoppicker .picker {
  height: 6rem;
}
.picker-slot-wrapper {
  font-size: 16px !important;
  color: #999 !important;
}
.picker-slot-wrapper .picker-selected{
  font-size: 18px !important;
  color: #333;
  line-height: 1.07rem  !important;
  height: 1.07rem  !important
}
.picker-center-highlight {
  height: 1.07rem  !important;
}
.shoppicker .picker-toolbar>span {
  flex: 1;
  font-size: 16px;
}
.shoppicker .picker-toolbar .quxi {
  color: #999;
}
.shoppicker .picker-toolbar .shop {
  text-align: center;
  font-size: 16px;
}
.shoppicker .picker-toolbar .qued {
  text-align:right;
  color: #1890FF;
}


/*日历弹框*/
.calendar-dialog-body{
    width: 100%;
    box-sizing: border-box;
}
.calendar {
  border-bottom: 1px solid #E7EDF5;
}
.calendar-btn {
  display: block;
  padding: 0;
  width:2.13rem;
  height:0.8rem;
  background:rgba(24,144,255,1);
  border-radius:0.11rem;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  margin: 0.4rem auto;

}
/* 设备离线提示*/
.offline-tip {
  position: relative;
  background:#FDFCEC;
  border-radius:0.13rem;
  margin-top: 0.4rem;
  padding: 0.19rem 0.73rem 0.19rem  0.32rem;
  font-size:0.29rem;
  font-family:PingFangSC-Regular;
  color:rgba(255,95,95,1);
  line-height:0.4rem;
  
}
.offline-tip .icon-guanbi {
  position: absolute;
  top:0.19rem;
  right: 0.19rem;
  color: #999999; 
  font-size: 18px;
}
.offline-tip .icon-guanbi1 {
  position: absolute;
  top: 50%;
  right: 0.19rem;
  color: #999999;
  font-size: 16px;
  transform: translate(0,-50%);
}
.pingFangSC-Medium {
  font-family:PingFangSC-Medium;
}

/*弹框禁止页面滚动*/
body.dialog-open {
    position: fixed;
    width: 100%;
}



/*加载动画*/
.mint-indicator {
  z-index: 10000000 !important;
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 0.5;
  background: #000;
  position: fixed;
  top: 0;
}
.mint-indicator-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}
.mint-indicator-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translate(-50%,-50%);
}
.mint-indicator-text {
  position: fixed;
  top: 55%;
  transform: translateY(-55%);
  width: 100%;
}

/*导出弹框*/
.mint-msgbox-title {
  font-weight: normal !important;
  color: #333 !important;
}
.mint-msgbox-input input{
    color: #1890FF;
    height: 0.91rem;
}
.mint-msgbox-btns .mint-msgbox-confirm, .mint-msgbox-btns .mint-msgbox-cancel {
  font-size: 16px;
  color: #333;
}
