body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  background: #efeff4;
}

html,
body {
  height: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

button:focus,
input:focus,
textarea:focus {
  outline: 0 none;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.select-popup {
  width: 100%;
}

a {
  text-decoration:none;
  color: #333;
}

input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
  font-size: 16px;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-size: 16px;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 16px;
}

input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 16px;
}


.mint-popup {
  width: 100%;
}

.fun-list-item {
  .mint-switch-input:checked + .mint-switch-core {
    border-color: #4DD865;
    background-color: #4DD865;
  }
}

.permissions {
  text-align: center;
  color: #999;
  font-size: 16px;
  padding-top: 4rem;
}

.no-discount-list {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding-top: 4rem;
  }