.personal {
    title {
       border-top: 1px solid #f9f8ff;
    }
    .second-p {
      margin-top: 0.3rem;
    }
    .shop-address {
      font-size: 16px;
      padding: 0.53rem;
      background-color: #fff; 
      border-bottom: 1px solid #f9f8ff;
      span {
         &:first-child {
           color:rgba(153,153,153,1);
         }
         &:last-child {
           color:rgba(51,51,51,1);
           margin-top: 0.3rem;
           display: inline-block;
         }
       }
    }
    .shop-machine {
      font-size: 16px;
      background-color: #fff;
      border-bottom: 1px solid #f9f8ff;
      .machine-type {
        padding-top: 0.3rem;
      }
      span {
        &:first-child {
           color:rgba(153,153,153,1);
           display: inline-block;
           margin-top: 0.2rem;
           margin-left: 0.53rem;
           margin-bottom: 0.2rem;
         }
      }
      .shop-machine-bottom {
        margin-bottom: 0.2rem;
        margin-left: 0.33rem;
        .one-machine {
           font-size: 14px;
           color: #333333;
           background-color: rgba(24, 144, 255, 0.05);
           display: inline-block;
           text-align: center;
           margin-right: 0.24rem;
           margin-bottom: 0.2rem;
           border-radius: 4px;
           width: 27%;
           height: 1.2rem;
           line-height: 1.2rem;
           margin-left: 0.24rem;
         }
      }
    }
    .shop-item {
       display: flex;
       justify-content: space-between;
       font-size: 16px;
       padding: 0.53rem;
       border-bottom: 1px solid #f9f8ff;
       background-color: #fff; 
       span {
         &:first-child {
           color:rgba(153,153,153,1);
         }
         &:last-child {
           color:rgba(51,51,51,1);
         }
     }
   }
   .picture {
       display: flex;
       padding-top: 0.2rem;
       justify-content: space-between;
       background-color: #fff;
       border-bottom: 1px solid #f9f8ff;
       span {
         &:first-child {
           font-size: 16px;
           line-height: 2rem;
           padding-left: 0.3rem;
           color:rgba(153,153,153,1);
         }
         &:last-child {
           padding-right: 0.3rem;
           .shop-img {
             width: 2rem;
             height: 2rem;
           }
         }
       }
   }
   .shop-info {
     font-size: 12px;
     background-color: #fff;
     color:rgba(153,153,153,1);
     padding-left: 0.2rem;
     padding-top: 0.3rem;
     span {
       padding-left: 0.3rem;
     }
   }
   .createTime {
     padding-bottom: 0.3rem;
   }
   .blank {
     height: 1.67rem;
   }
   .about-button {
     position: fixed;
     bottom: 0;
     width: 100%;
     background-color: #fff;
     display: flex;
     justify-content: flex-end;
     #delete,#edit {
       margin: 0.28rem 0;
       width: 2.4rem;
       line-height: 0.8rem;
       height: 0.8rem;
       border-radius: 0.11rem;
       margin-right: 0.4rem;
       font-size: 14px;
     }
     #delete {
       color: #333333;
       border-color:#D8D8D8;
     }
     #edit {
       color:#1890FF;
       border-color:#1890FF;
     }
   }
 }