section {
  height:100%;
  .page-top {
    padding-top: 1.44rem;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
      .page-loadmore-wrapper {
        overflow: scroll;
        .list {
          width:100%;
          background:rgba(255,255,255,1);
          margin-bottom:0.23rem;
          .top {
            display:flex;
            justify-content: space-between;
            border-bottom: 1px solid #F8F8F8;
            background-color: #fff; 
            font-size: 16px;
            height: 1.17rem;
            line-height: 1.17rem;
            width: 90%;
            margin: auto;
            font-weight: 500; 
            .shopName {
              height:0.45rem;
              font-size:0.45rem;
              font-family:PingFangSC-Medium;
              color:rgba(51,51,51,1);
              line-height:0.45rem;
            }
          }
          .bottom {
            width: 100%;
            border-radius:0.1rem;
            padding:0.51rem 0;
            display: flex;
            justify-content: center;
            .kindof {
              flex: 1;
              text-align: center;
              border-left: 1px solid #F8F8F8;
              .text {
                color: #999999;
                font-size: 14px;
                line-height: 0.53rem;
                position: relative;
                .order-action {
                  position: absolute;
                  top: 0.01rem;
                  margin-left: 0.13rem;
                }
              }
              .text-value { 
                color:#1890FF;     
                font-size: 16px;
                padding-top: 0.3rem; 
                .little-font {
                  font-size: 8px;
                }
              }
            }
          }
        }
        .nomore-data {
          text-align: center;
          color: #999;
          font-size: 12px;
          margin-bottom: 0.266667rem;
        }
      }
    }
    .noShop {
      text-align: center;
      color: #999;
      font-size: 16px;
      padding-top: 4rem;
    }
    .circle {
      width:1.49rem;
      height:1.49rem;
      background:#1890FF;
      border-radius: 50%;
      font-size:12px;
      font-family:PingFangSC-Regular;
      color:rgba(255,255,255,1);
      text-align: center;
      -moz-box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
      -webkit-box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
      box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
      position: fixed;
      bottom:0.55rem;
      right: 0.64rem;
      .order-action {
        display: inline-block;
        margin-top: 0.2rem;
        font-size: 16px;
        color: #fff;
      }
    }
    // .circle {
    //   border-radius: 50%;
    //   background-color: #1890FF;
    //   width: 1.5rem;
    //   height: 1.5rem;
    //   position: fixed;
    //   bottom: 1rem;
    //   right: 1rem;
    //   text-align: center;
    //   div {
    //     color:#fff;
    //     &:first-child {
    //       font-size: 25px;
    //     }
    //   }
    //   .iconShop {
    //     font-size: 0.4rem;
    //   }
    // }
  }

.search-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.sarch-wrap{
  background: #ffffff;
  padding: 0.27rem;
  .search {
    -webkit-box-shadow: 0px 0.053333rem 0.133333rem 0px rgba(186, 192, 210, 0.3);
    box-shadow: 0px 0.053333rem 0.133333rem 0px rgba(186, 192, 210, 0.3);
    border-radius: 0.133333rem;
    font-size: 16px;
    height: 1.17rem;
    display: flex;
    form {
      display: inline-block;
      width: 100%;
    }
    input {
      width: 6.8rem;
      font-size: 16px;
      height:1.17rem;
    }
    .icon-IconSearch {
      color: #999999;
      padding-left: 0.4rem;
      padding-right: 0.27rem;
    }
    .select-back {
      line-height: 1.17rem;
      padding-right: 0.27rem;
      padding-left: 0.27rem;
      color: #1890FF;
      border-left:1px solid rgba(216,216,216,1);
    }
  }
}