  .meber-list {
    padding:0 0.4rem;
    background: #fff;
    margin-bottom: 0.21rem;
  }
  .momber-wrap {
    font-size: 16px;
    color: #333;
    background: #fff;
    padding-top: 0.21rem;
    padding-bottom: 0.19rem;
    overflow: hidden;
    p{
      height: 0.6rem;
      line-height: 0.6rem
    }
  }
  .name{
    width: 75%;
    float: left;
     a {
      color: #333;
      display: block;
    }
  }
  .phone {
    float: right;
  }
  .phonenum {
    font-size: 16px;
    color: #999;
    margin-top: 0.08rem;
  }
  .memberdesc {
    border-top:1px solid #f9f8ff;
    font-size: 12px;
    color: #999;
    height: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .check-switch {
    margin-top: 0.16rem;
    margin-left: 0.27rem;
  }
  .addmember {
    width:1.49rem;
    height:1.49rem;
    background:#1890FF;
    border-radius: 50%;
    font-size:12px;
    font-family:PingFangSC-Regular;
    color:rgba(255,255,255,1);
    text-align: center;
    -moz-box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
    -webkit-box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
    box-shadow: 0 0.05rem 0.23rem 0 rgba(24, 144, 255, 0.7);
    position: fixed;
    bottom:0.55rem;
    right: 0.64rem;
    .order-action {
      display: inline-block;
      margin-top: 0.2rem;
      font-size: 16px;
      color: #fff;
    }
  }
  .no-discount-list {
    text-align: center;
    font-size: 14px;
    padding-top: 4rem;
    color: #999;
  }
  .nomore-data {
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 0.266667rem;
  }