  .addvip {
    padding-bottom: 2rem;
  }
  .addvip-header {
    padding: 0.49rem 0.4rem;
    background: #fff;
    p {
      font-size: 16px;
      color: #333;
      border-bottom:1px solid #f9f8ff;
      line-height: 0.67rem;
    }
    p:last-child{
      border:none;
    }
    .addvip-con {
      text-align: right;
      color: #999;
      padding-left: 0.27rem;
    }
  }
  .card-wrap {
    margin:0.4rem;
    position: relative;
    box-shadow:0px 0.03rem 0.17rem 0px rgba(24,144,255,0.1);
    .crrow {
      width: 2.09rem;
      height: 1.16rem;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url('../../../static/image/management/crown@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .add-card-header {
      height:0.13rem;
      background:linear-gradient(-90deg,rgba(53,195,255,1),rgba(24,144,255,1));
      border-radius:0.13rem 0.13rem 0px 0px;
    }
    .add-card{
      background: #fff;
      font-size: 16px;
      color: #333;
      padding: 0 0.37rem;
      p {
        height: 1.47rem;
        line-height: 1.47rem;
        border-bottom:1px solid #f9f8ff;
        color: #999;
      }
      & p:last-child {
        border:none
      }
      span {
        float: right;
        color: #333;
      }
      .num {
        color: #1890FF;
      }
    }
    .tips {
      background: #fff;
      padding: 0.49rem 0.37rem 0.35rem 0.37rem;
      border-radius:0 0 0.13rem 0.13rem;
      p {
        font-size: 12px;
        color: #999;
        line-height: 0.53rem;
      }
    }
  }
  .addvip-type {
    font-size: 14px;
    padding-bottom: 0.4rem;
  }
  .create-wrap {
    padding: 0 0.4rem;
    background: #fff;
    font-size:12px;
    color:#999;
    p {
      line-height:0.77rem;
    }
  }
  .footer {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    padding: 0.28rem 0;
    > span {
      float: right;
      width: 2.4rem;
      height: 0.8rem;
      line-height: 0.8rem;
      border-radius: 0.11rem;
      text-align: center;
      margin-right: 0.4rem;
    }
    .del {
      border: 1px solid rgba(216,216,216,1);
    }
    .edit {
      border: 1px solid  #1890FF;
      a {
        color: #1890FF;
      }
    }
  }