  .addvip {
    padding-bottom: 2rem;
  }
  .addvip-header {
    padding: 0 0.4rem;
    background: #fff;
    >p {
      overflow: hidden;
      padding: 0.51rem 0;
      font-size: .4267rem;
      border-bottom:1px solid #f9f8ff;
    }
    p:last-child{
      border:none;
    }
    .addvip-con {
      text-align: right;
      color: #333333;
      padding-left: .4333rem;
    }
    .limitcount-p{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #999999;
    }
    .limitcount-shop{
      overflow: hidden;
      padding: 0.51rem 0;
      
      border-bottom:1px solid #f9f8ff;
      .set-shop{
        display: flex;
        color: #999999;
        font-size: .4267rem;
      }
      .addvip-con{
        width: 5.56rem;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: .2rem;
      }
      .remove-space{
        width: 6.96rem;
        white-space:normal;
        overflow: auto;
        text-overflow: initial;
        padding-right: 0;
      }
      .vip-text{
        font-size: .3733rem;
        color: #1890FF;
      }
      .to-up{
        float: right;
        height: .53rem;
        line-height: .53rem;
        .icon-xiangshangjiantou{
          color: #BAC0D2;
        }
      }
    }
  }
  .card-wrap {
    margin: 0.4rem 0.4rem 0.27rem;
  }
  .addvip-type {
    font-size: .3733rem;
    color: #999;
  }
  .create-wrap {
    padding: 0 0.4rem;
    background: #fff;
    font-size:12px;
    color:#999;
    margin-top: 0.27rem;
    p {
      line-height:0.77rem;
    }
  }
  .footer {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    font-size: .32rem;
    padding: 0.28rem 0;
    > span {
      float: right;
      width: 2.4rem;
      height: 0.8rem;
      line-height: 0.8rem;
      border-radius: 0.11rem;
      text-align: center;
      margin-right: 0.4rem;
    }
    .del {
      border: 1px solid rgba(216,216,216,1);
    }
    .edit {
      border: 1px solid  #1890FF;
      a {
        color: #1890FF;
      }
    }
  }