.sarch-wrap{
    background: #ffffff;
    padding: 0.27rem 0 0.27rem 0.27rem;
    overflow: hidden;
    .search {
      -webkit-box-shadow: 0px 0.053333rem 0.133333rem 0px rgba(186, 192, 210, 0.3);
      box-shadow: 0px 0.053333rem 0.133333rem 0px rgba(186, 192, 210, 0.3);
      border-radius: 0.133333rem;
      font-size: 16px;
      width: 8.27rem;
      height: 1.17rem;
      float: left;
      form {
        display: inline-block;
        width: 100%;
        position: relative;
      }
      input {
        display: inline-block;
        width: 5.6rem;
        font-size: 14px;
        height: 1.17rem;
        padding-top: 0.4rem;
        padding-bottom: 0.3rem;
      }

      .icon-IconSearch {
        color: #999999;
        padding-left: 0.4rem;
        padding-right: 0.27rem;
      }
      .select-back {
        line-height: 1.17rem;
        padding-right: 0.27rem;
        padding-left: 0.27rem;
        color: #1890FF;
        border-left:1px solid rgba(216,216,216,1);
      }
      .guanbi {
        position: absolute;
        font-size: 16px;
        color: #999;
        right: 1.52rem;
        top: 0.36rem;
      }
    }
    .coupon-date {
      float: left;
      width: 0.52rem;
      height: 1.17rem;
      line-height: 1.17rem;
      font-size: 20px;
      padding-left: 0.48rem;
    }
    .icon-rili {
      color: #1890FF; 
      font-size: 20px;
    }
  }
  .device-status {
    display: flex;
    font-size: 0.35rem;
    color: #333;
    text-align: center;
    background: #fff;
    padding-bottom: 0.21rem;
    div {
      flex: 1;
      &:nth-child(6) {
        width: 2rem;
      }
      &:last-child {
        width: 0.5rem;
      }
      span {
        display: inline-block;
        padding:0 0.27rem;
        line-height: 0.45rem;
        height: 0.43rem;
        margin-top: 0.1rem;
        color: rgba(24, 144, 255, 1);
        border-radius: 0.2rem;
      }
      p {
        margin-top: .25rem;
      }
      p.current {
        font-weight: bolder;
      }
      span.current {
        display: inline-block;
        position: relative;
        color: #fff;
        background: rgba(24, 144, 255, 1);
      }
    }
  }
  .discountCoupon-head {
    position: fixed;
    top:1.33rem;
    width:100%;
    z-index: 999;
  }
  .page-top {
    padding-top: 3.13rem;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
  .coupon-content {
    padding:0.27rem 0.39rem 0 0.39rem;
    .list a{
      background: #fff;
      margin-bottom:0.27rem;
      border-radius:0.13rem;
      padding:0.33rem 0 0.17rem 0;
      display: flex;
      position: relative;
      .price-content {
        border-right:1px dashed #ddd;
        text-align: center;
        height: 1.12rem;
        margin-top:0.13rem;
        padding-left: 0.6rem;
        padding-right: 0.5rem;
        span {
          color: #F04864;
        }
        .yang {
          font-size: 0.43rem;
          font-weight: 700;
        }
        .inter {
          font-size: 0.8rem;
          font-weight: 700;
        }
        .float {
          font-size: 0.61rem;
          font-weight: 700;
        }
        .expieed {
          color: #999;
        }
      }
      .rules-content {
        font-size: 0.29rem;
        color: #999;
        padding-left: 0.4rem;
        line-height: 0.4rem;
        .title {
          font-size: 16px;
          color: #333;
          font-weight: 700;
          line-height: 0.6rem;
          margin-bottom: 0.08rem;
        }
      }
      .tag {
          width: 1.53rem;
          height: 1.53rem;
          position: absolute;
          right: 0.4rem;
          top:0.33rem;
          img {
            display: block;
            width: 100%;
          }
        }
    }
  }
  .no-order {
    font-size: 14px;
    color: #999;
    text-align: center;
    background: #fff;
    height: 100%;
    line-height: 100%;
    padding-top: 5rem;
  }
  .calendar-dialog-body .footer{
    display: flex;
    padding: 0.4rem 0;
    >div {
      width: 50%;
      text-align: center;
    }
    .ca-coupon-btn {
      display: inline-block;
      padding: 0;
      width:2.13rem;
      height:0.8rem;  
      background:rgba(24,144,255,1);
      border-radius:0.11rem;
      font-size: 14px;
      color: #fff;
      text-align: center;
      line-height: 0.8rem;
    }
    .reset {
      background: #fff;
      border:1px solid #ddd;
      color: #999;
    }
    .mint-button--default {
      box-shadow: none;
    }
  }