section {
	height: 100%;
	.top {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width:100%;
		.title {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.17rem;
			border: 1px solid #f9f8ff;
			background-color: #fff; 
			color: #333333;
			padding-left: 0.25rem;
		}
	}
	.noTodoList {
	text-align: center;
    color: #999;
    font-size: 16px;
    padding-top: 4rem;
	}
	.page-top {
	   height: 100%;
       box-sizing: border-box;
		.page-loadmore-wrapper {
			overflow: scroll;
			.todolist-wrap {
				padding-top: 1.44rem;
			}
			.list {
				background-color: #fff;
				margin-bottom: 0.27rem;
				.time {
					line-height: 0.67rem;
					padding: 0.19rem 0;
					border-bottom: 1px solid #f9f8ff;
					span {
						&:first-child {
							font-size: 14px;
							padding: 0 0.3rem;
							vertical-align: middle;
							color: rgba(153,153,153,1);
						}
					}
					.time-blue {
						font-size: 18px;
						color: #1890FF;
						vertical-align: middle;
					}
					.text {
						font-size: 16px;
						vertical-align: middle;
					}
					div {
						&:first-child {
							border-right: 1px solid #f9f8ff;
						}
						&:last-child {
							//margin-left: 1rem;
						}
					}
				}
				.display-flex {
					display: flex;
					.type {
						width: 50%;
					}
					.mode {
						text-align: center;
					}
				}
			}
			.nomore-data {
        text-align: center;
        color: #999;
        font-size: 12px;
        margin-bottom: 0.266667rem;
      }
		}
	}
}