.todolist {
    .first-todo-item {
      border-top: 1px solid #F8F8F8;
    }
    .todo-item {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      padding: 0.53rem;
      border-bottom: 1px solid #F8F8F8;
      background-color: #fff; 
      span {
        &:first-child {
          color:rgba(153,153,153,1);
        }
        &:last-child {
          color:rgba(51,51,51,1);
        }
      }
    }
    .todo-info {
      font-size: 12px;
      background-color: #fff;
      color:rgba(153,153,153,1);
      padding: 0.2rem 0;
      span {
        padding-left: 0.3rem;
      }
    }
    .second-p {
      margin-top: 0.3rem;
    }
    .about-button {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: flex-end;
      .common-button {
        margin: 0.3rem 0;
        width: 2.2rem;
        line-height: 0.9rem;
        height: 0.9rem;
        border-radius: 5px;
        margin-right: 0.3rem;
        color: #333333;
        border-color:#D8D8D8;
        font-size: 14px;
      }
    }
  }