.tableearn {
    height: 100%;
    .listcon {
        align-items: center;
        background-color: #fff;
        box-sizing: border-box;
        color: #333;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        height: 1.04rem;
        line-height: 1.04rem;
        padding: 0 .4rem;
        position: relative;
        white-space: nowrap;
        border-bottom: 1px solid #f9f8ff;
        .detail {
            align-items: center;
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 14px;
            height: 1.04rem;
            line-height: 1.04rem;
            position: relative;
            white-space: nowrap;
        }
        .report-table-date {
            width: 2.5rem;
        }
        .report-table-count {
            width: 2.5rem;
            text-align: right;
        }
        .report-table-money {
            width: 4.2rem;
            text-align: right;
        }
        .listtime {
            color: #1890FF;
        }
        &:nth-child(2n-1) {
            background: #FAFCFE !important;
        }
    }
    .table-header {
        align-items: center;
        background-color: #fff;
        box-sizing: border-box;
        color: #333;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px;
        height: 1.04rem;
        line-height: 1.04rem;
        padding: 0 .4rem;
        position: relative;
        white-space: nowrap;
        border-bottom: 1px solid #f9f8ff;
        span {
            font-weight: 600;
        }
        .report-table-date {
            width: 2.5rem;
        }
        .report-table-count {
            width: 2.5rem;
            text-align: right;
        }
        .report-table-money {
            width: 4.2rem;
            text-align: right;
        }
    }
    .nodata {
        text-align: center;
        color: #999;
        font-size: 16px;
        padding-top: 4rem;
    }
}
.black {
    height:2.5rem;
    width: 100%;
}