section {
    height: 100%;
    .tableearn {
        height: 100%;
        .top {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            .black {
                height: 0.3rem;
                background-color: #efeff4;
            }
            .showDate {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #999999;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
            }
            .table-header {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .report-table-date,.report-table-money {
                    width: 4.6rem;
                    text-align: center;
                }
                .listtime {
                    color: #1890FF;
                }
            }
        }
        .bottom {
            height: 100%;
            padding-top: 2.3rem;    
            box-sizing: border-box;
            overflow: scroll;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
            .listcon {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .report-table-date,.report-table-money {
                    width: 4.6rem;
                    text-align: center;
                }
                .listtime {
                    color: #1890FF;
                }
                &:nth-child(2n-1) {
                    background: #FAFCFE !important;
                }
            }
            .nodata {
                text-align: center;
                color: #999;
                font-size: 16px;
                padding-top: 4rem;
            }
        } 
    }
}
