section {
    height: 100%;
    .tableearn {
        height: 100%;
        .top {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            .black {
                height: 0.3rem;
                background-color: #efeff4;
            }
            .showDate {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #1890FF;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.73rem;
                line-height: 1.73rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
            }
            .earnings-title {
                font-size: 14px;
                color: #1890FF;
                padding: 0.27rem 0.4rem;
                background: #fff;
                display: flex;
                .earning {
                    width: 8.4rem;
                    .month {
                        padding-bottom: 0.13rem;
                        color: #333;
                    } 
                }
                .export-wrap {
                    width: 0.8rem;
                    .icon-daochu , .export {
                        float: right;
                        color: #1890FF;
                        padding-bottom: 0.07rem;
                    }
                    .export {
                        font-size: 12px;
                    }
                    .icon-daochu{
                        margin-right: 3px;
                    }
                }
                p {
                    width: 100%;
                    overflow: hidden;
                    line-height: 0.53rem;
                }
            }
            .table-header {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .report-table-date {
                    width: 4.6rem;
                    text-align: left;
                }
                .report-table-money {
                    width: 4.6rem;
                    text-align: right;
                }
                .listtime {
                    color: #1890FF;
                }
            }
        }
        .bottom {
            height: 100%;
            padding-top: 3.05rem;  
            box-sizing: border-box;
            overflow: scroll;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
            .listcon {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                display: -ms-flexbox;
                display: flex;
                font-size: 14px;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .report-table-date {
                    width: 4.6rem;
                    text-align: left;
                }
                .report-table-money {
                    width: 4.6rem;
                    text-align: right;
                }
                .listtime {
                    color: #1890FF;
                }
                &:nth-child(2n-1) {
                    background: #FAFCFE !important;
                }
            }
            .nodata {
                text-align: center;
                color: #999;
                font-size: 14px;
                padding-top: 4rem;
            }
        } 
    }
}
