section {
    height: 100%;
    .tableearn {
        height: 100%;
        .top {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            .black {
                height: 0.3rem;
                background-color: #efeff4;
            }
            .earnings-title {
                font-size: 14px;
                color: #1890FF;
                padding: 0.27rem 0.4rem;
                background: #fff;
                display: flex;
                .earning {
                    width: 8.4rem;
                    .month {
                        padding-bottom: 0.13rem;
                        color: #333;
                    } 
                }
                .export-wrap {
                    width: 0.8rem;
                    .icon-daochu , .export {
                        float: right;
                        color: #1890FF;
                        padding-bottom: 0.07rem;
                    }
                    .export {
                        font-size: 12px;
                    }
                    .icon-daochu{
                        margin-right: 3px;
                    }
                }
                p {
                    width: 100%;
                    overflow: hidden;
                    line-height: 0.53rem;
                }
            }
            .listcon {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                font-size: 14px;
                display: -ms-flexbox;
                display: flex;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    //justify-content: space-between;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .nomore-data {
                    text-align: center;
                    color: #999;
                    font-size: 12px;
                    margin-bottom: 0.266667rem;
                }
                .report-table-date {
                    width: 2.0rem;
                }
                .report-table-count {
                    width: 5.5rem;
                    text-align: center;
                }
                .report-table-money {
                    width: 1.7rem;
                    text-align: right;
                }
                .listtime {
                    color: #1890FF;
                }
            }
            .table-header {
                span {
                    font-weight: 600;
                }
            }
        }
        .bottom {
            height: 100%;
            padding-top: 3.07rem;    
            box-sizing: border-box;
            overflow: scroll;
            overflow-y: auto;
            .listcon {
                align-items: center;
                background-color: #fff;
                box-sizing: border-box;
                color: #333;
                font-size: 14px;
                display: -ms-flexbox;
                display: flex;
                height: 1.04rem;
                line-height: 1.04rem;
                padding: 0 .4rem;
                position: relative;
                white-space: nowrap;
                border-bottom: 1px solid #f9f8ff;
                .detail {
                    align-items: center;
                    box-sizing: border-box;
                    display: -ms-flexbox;
                    display: flex;
                    //justify-content: space-between;
                    font-size: 14px;
                    height: 1.04rem;
                    line-height: 1.04rem;
                    position: relative;
                    white-space: nowrap;
                }
                .nomore-data {
                    text-align: center;
                    color: #999;
                    font-size: 12px;
                    margin-bottom: 0.266667rem;
                }
                .report-table-date {
                    width: 2.0rem;
                }
                .report-table-count {
                    width: 5.5rem;
                    text-align: center;
                }
                .report-table-money {
                    width: 1.7rem;
                    text-align: right;
                }
                .listtime {
                    color: #1890FF;
                }
                &:nth-child(2n-1) {
                    background: #FAFCFE !important;
                }
            }
            
            .page-loadmore-wrapper {
                height: 100%;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                .nodata {
                    text-align: center;
                    color: #999;
                    font-size: 16px;
                    padding-top: 4rem;
                }
            }
        }
    }
}